{% extends "layout/stock_view.html" %}
{% block title %}{{ current_storage.name }}{% endblock %}
{% block storage %} <a class="navbar-brand" href="{% url 'index' %}">{{ current_storage.name }}</a> {% endblock %}
{% block control %}
                           <li class="nav-item active">
                                <td><a class="nav-link" href="{% url 'vidacha' %}">Списание</a></td>
                            </li>
                            <li class="nav-item active">
                                <td><a class="nav-link" href="{% url 'priemka' storage_id=current_storage.pk %}">Добавление</a></td>
                            </li>
{% endblock %}
