{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Контроль чеков{% endblock %}

{% block control %}
<li class="nav-item active">
     <td><a class="nav-link" href="{% url 'export_check' %}">Экспорт чеков</a></td>
 </li>
<li class="nav-item active">
    <td><a class="nav-link" href="{% url 'date_control' %}">Поиск по дате</a></td>
    </li>
{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0" method="get">
                         {% csrf_token %}
                        <div class="form-row mr-sm-4 " type="search" aria-label="Search">
                            {% bootstrap_form checksearchform layout='inline' %}
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
                    </form>

{% endblock %}


{% block content %}

<form method="post">
    {% csrf_token %}
        <div class="form-row" >
               {% bootstrap_form form layout='vertical' size='md' %}
        </div>
{% buttons submit='Сохранить'%}{% endbuttons %}

    <table class="table">
        <tr>
            <th scope="col">Номер чека</th>
             <th scope="col">Пост</th>
             <th scope="col">Коментарий</th>
            <th scope="col">Кол-во паллет</th>
             <th scope="col">Дата</th>
        </tr>
        {% for c in ctr %}
        <tr>
            <td>{{ c.check }}</td>
            <td>{{ c.post }}</td>
            {% if c.comment %}
            <td><textarea readonly cols="60" rows="3">{{ c.comment }}</textarea></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ c.pallet }}</td>
            <td>{{ c.time }}</td>
            <td><a href="{% url 'comment' check_id=c.id %}">Изменить</a></td>
        </tr>
        {% endfor %}
{% bootstrap_pagination page size='sm' %}
{% endblock %}