{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Контроль чеков{% endblock %}


{% block content %}

    <table class="table">
        <tr>
            <th scope="col">Номер чека</th>
             <th scope="col">Пост</th>
             <th scope="col">Коментарий</th>
            <th scope="col">Кол-во паллет</th>
             <th scope="col">Дата</th>
        </tr>
        {{ day }}
        {% for c in object_list %}
        <tr>
            <td>{{ c.check }}</td>
            <td>{{ c.post }}</td>
            <td>{{ c.comment }}</td>
            <td>{{ c.pallet }}</td>
            <td>{{ c.time }}</td>
            <td><a href="{% url 'comment' check_id=c.id %}">Изменить</a></td>
        </tr>
        {% endfor %}


{% endblock %}