{% extends 'layout/basic.html' %}
{% load bootstrap4 %}

{% block title %}{% endblock %}
{% block storage %} <a class="navbar-brand" href="{% url 'by_storage' storage_id=current_storage.id %}">{{ current_storage.name }}</a> {% endblock %}
{% block control %} <a class="navbar-brand" href="">{{ do }}</a>{% endblock %}
{% block content %}



<form method="post">
    {% csrf_token %}
    {{ form.management_form }}
        {% for f in form %}
        <div class="form-row" >
               {% bootstrap_form f layout='vertical' size='md' %}
        </div>

<hr>
    {% endfor %}

{% buttons submit='Сохранить'%}{% endbuttons %}
</form>

{% endblock %}

