{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <title>{% block title %}Главная{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'vaultroom/style.css' %}">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="{% url 'index' %}">VaultRoom</a>
                        {% block storage %} {% endblock %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                            {% block control %}
                            <li class="nav-item active">
                                <td><a class="nav-link" href="{% url 'control' %}">Контроль чеков</a></td>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Выбор склада
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              {% for storage in storages %}
                              <a class="dropdown-item" href="{% url 'by_storage' storage_id=storage.id %}">{{ storage.name }}</a>
                              {% endfor %}
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'index' %}">Сток</a>
                            </div>
                        {% endblock %}

                        
                    </ul>
                    {% block search %}

                {% endblock %}

                    </div>

            </nav>
        </header>


            {% block content %}
            {% endblock %}

    </body>
</html>