{% extends "layout/basic.html" %}
{% block content %}
{% load bootstrap4 %}


{% bootstrap_pagination page size='sm' %}
    <table class="table">
        <tr>
            <th scope="col">Склад</th>
             <th scope="col">LM</th>
             <th scope="col">Артикул</th>
             <th scope="col">Товар</th>
            <th scope="col">Отдел</th>
             <th scope="col">Остаток</th>

        </tr>
        {% for s in stc %}
        <tr>
            <td>{{ s.storage.name }}</td>
            <td>{{ s.product.LM }}</td>
            <td>{{ s.product.barcode }}</td>
            <td><a href="{% url 'by_product' product_id=s.product.pk %}">{{ s.product.name }}</a></td>
            <td>{{ s.product.department }}</td>
            <td>{{ s.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock %}

